@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
  font-family: 'DM Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.bold{
  font-weight: bold;
}

.price{
  font-size: 1.75rem;
}

.align-header{
  text-align: right;
  padding: .33rem;
}

.button-location{
  display:flex;
  justify-content:flex-end;
  width:100%;
  padding:0;
}

form{
  max-width: 450px;
  max-height: 600px;
  margin: 0 auto;
}

.buttons-div{
  text-align: center;
}

.input-form{
  padding:10px;
  margin:10px 0;
  border: 0;
  width:100%;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border: 1px solid #eee;
  border-radius:10px;
}

.form-page-style{
  margin: 20px .33rem;
}

.item-list{
  padding: 5px;
  font-size: 1.3rem;
  border-bottom-style: solid;
  cursor: pointer;
}

.item-list:hover{
  color: #06f;
}

.single-item-header{
  text-align: center;
}

.item-content{
  margin: 10px auto;
  width: 600px;
}

.single-item{
  padding: 5px .33rem;
  font-size: 1.1rem;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 38px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 100px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: .33rem;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 130px;
  }
}

