@function getAnimationDuration($duration: number){
  @return calc($duration * var(--animation-speed))
};

@import 'partials/_animations';
@import 'partials/_navbar';
@import 'partials/_footer';
@import 'partials/_button';
@import 'partials/_hero';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root{
  --primary-color: #06f;
  --shadow-color: rgba(0,0,0,0.2);
  --bg-color: rgb(223, 223, 223);
  --text-color: #0A0A0A;
  --text-color2: #85c977;
  --text-light: #575757;
  --animation-speed: 1;
}

* {
  margin: 0;
  background-color: rgb(223, 223, 223);
  font-family: 'DM Sans', sans-serif;
}

a{
  text-decoration: none;
}

.recipe{
  padding-inline: 11vw;
}



.add-recipe{
  height: 85vh;
  padding-inline: 11vw;
  margin-top: 1vh;
}

.grid-list{
  height: 85vh;
  margin-top: 3vh;
}

.recipe-cont{
  height: 85vh;
  padding-inline: 11vw;
  margin-top: 6vh;
  h1{
    font-weight: bolder;
    width: 45vw;
    display: inline-block;
  }
  .info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
    margin-bottom: 5vh;
    .item-content{
      .single-item{
        .bold{
          font-size: large;
          font-weight: bolder;
          color: var(--text-color2);
        }
      }
    }
    .col1{
      width: 60%;
    }
    .col2{
      width: 30%;
      img{
        width: 25vw;
        // display: grid;
      }
    }
  }
}